#title {
 background-color: white;
 padding: 20px;
}
h1 {
 color: darkgreen;
 padding: 20px 20px;
 text-align: center;
 font-size: 7em;
 font-family: plakato-pro, sans-serif;
 font-style: normal;
 font-weight: 400;
}
.title-text {
 font-size: 1em;
 padding: 0px 0px 20px 20px;
}
.logo {
  width: 1000px;
  text-align: center;
  padding: 100px 0px 20px 40px;
}

.profile {
 background-color: gray;
 padding: 20px 20px;
}
.profile-title {
 font-size: 3em;
 padding: 10px 0px 10px 40px;
 font-family: moby, sans-serif;
font-style: normal;
font-weight: 400;
}
.profile-text {
 font-size: 10px;
}

.works {
 background-color: rgb(192, 224, 205);
 padding: 20px 20px;
}
.works-title {
 font-size: 3em;
 padding: 10px 0px 10px 100px;
 font-family: plakato-pro, sans-serif;
 font-style: normal;
 font-weight: 400;
}
.work-text{
 font-size: 10px;
}

.work-list {
 margin: 0 auto;
 padding: 0;
 display: grid;
 gap: 0.3%;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 max-width: 660px; /* 220px × 3列 */
 width: fit-content;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: repeat(3,1fr);
 aspect-ratio: 1 / 1;
}
.work-item {
 position: relative;
 overflow: hidden;
 width: 100%;
 height: 100%;
 aspect-ratio: 1 / 1;
}
.work-item img {
 width: 100%;
 height: auto;
 transition: transform 0.3s ease, filter 0.3s ease;
 object-fit: cover;
 aspect-ratio: 1 / 1;
 padding: 0px;
 box-shadow: 5px 5px 10px 0px rgba(202, 125, 125, 0.3)
}
.work-item:hover img {
 transform: scale(1.05);
 filter: brightness(50%);
}
.caption {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 color:white;
 font-size: 2em;
 opacity: 0;
 transition: opacity 0.3s ease;
 pointer-events: none;
 font-size: 0.5em;
}
.work-item:hover .caption {
 opacity: 1;
}

.news {
 background-color: rgb(192, 224, 205);
 padding: 20px 20px;
}
.news-title {
 font-size: 3em;
 padding: 10px 0px 10px 100px;
 font-family: plakato-pro, sans-serif;
 font-style: normal;
 font-weight: 400;
}
.news-text {
 font-size: 10px;
}

.contact {
 background-color: rgb(192, 224, 205);
 padding: 20px 20px;
}
.contact-title {
 font-size: 3em;
 padding: 10px 0px 10px 100px;
 font-family: plakato-pro, sans-serif;
 font-style: normal;
 font-weight: 400;
}
.contact-text {
 font-size: 10px;
 padding-left: 100px;
 margin-top: 0px

}
@media (max-width: 480px) {
      #title {
       background-color: white;
      }
      h1 {
       color: darkgreen;
       padding: 0px;
       text-align: center;
       font-size: 7em;
       font-family: plakato-pro, sans-serif;
       font-style: normal;
       font-weight: 400;
}
      .body {
        background-color: aqua;
      }
      .logo {
        width: 300px;
        padding: 10px 0px 10px 20px
      }
      .title-text {
       font-size: 0.01em;
       padding: 0px 0px 10px 20px;
      }

      .profile {
       background-color: rgb(192, 224, 205);
       padding: 5px 20px;
      }
      .profile-title {
       font-size: 1.5em;
       padding: 0px 0px 10px 20px;
       font-family: plakato-pro, sans-serif;
       font-style: normal;
       font-weight: 400;
       text-align: center;
      }
      .profile-text {
       font-size: 10px;
       padding: 0px 0px 10px 20px
      }

      .works {
       background-color: rgb(192, 224, 205);
       padding: 5px 20px;
      }
      .works-title {
       font-size: 1.5em;
       padding: 10px 0px 10px 20px;
       font-family: plakato-pro, sans-serif;
       font-style: normal;
       font-weight: 400;
       text-align: center;
      }
      .work-text{
       font-size: 10px;
       padding: 0px 0px 0px 20px;
      }

      .work-list {
       margin: 0 auto;
       padding: 0;
       display: grid;
       gap: 0.3%;
       justify-content: center;
       align-items: center;
       min-height: 10vh;
       max-width: 220px; /* 220px × 3列 */
       width: fit-content;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: repeat(3,1fr);
       aspect-ratio: 1 / 1;
      }
      .work-item {
       position: relative;
       overflow: hidden;
        width: 100%;
       height: 100%;
       aspect-ratio: 1 / 1;
      }
      .work-item img {
       width: 100%;
       height: auto;
       transition: transform 0.3s ease, filter 0.3s ease;
       object-fit: cover;
       aspect-ratio: 1 / 1;
       padding: 0px;
       box-shadow: 5px 5px 10px 0px rgba(202, 125, 125, 0.3)
      }
      .work-item:hover img {
       transform: scale(1.05);
       filter: brightness(50%);
      }
      .caption {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       color:white;
       font-size: 2em;
       opacity: 0;
       transition: opacity 0.3s ease;
       pointer-events: none;
       font-size: 0.5em;
      }
      .work-item:hover .caption {
       opacity: 1;
      }
      .work-list {
        grid-template-columns: repeat 1fr;
      }

      .news {
       background-color: rgb(192, 224, 205);
       padding: 20px 20px;
      }
      .news-title {
       font-size: 1.5em;
       padding: 10px 0px 10px 20px;
       font-family: plakato-pro, sans-serif;
       font-style: normal;
       font-weight: 400;
       text-align: center;
      }
      .news-text {
       font-size: 10px;
       padding: 0px 0px 0px 20px;
      }

      .contact {
       background-color: rgb(192, 224, 205);
       padding: 20px 20px;
      }
      .contact-title {
       font-size: 1.5em;
       padding: 10px 0px 10px 20px;
       font-family: plakato-pro, sans-serif;
       font-style: normal;
       font-weight: 400;
       text-align: center;
      }
      .contact-text {
       font-size: 10px;
       padding-left: 20px;
       padding-bottom: 10px;
       margin-top: 0px
      }
      .footer {
       background-color: gray;
      }
      
    }
