#title {
 background-color: white;
 padding: 20px;
}
h1 {
 color: darkgreen;
 padding: 20px 20px;
 text-align: center;
 font-size: 7em;
 font-family: plakato-pro, sans-serif;
 font-style: normal;
 font-weight: 400;
}
.title-text {
 font-size: 1em;
 padding: 0px 110px 20px 110px;
}
.logo {
 mac-width: 1230px 
 width: 100%;
 height: auto;
  text-align: center;
  padding: 300px 0px 200px 100px;
}

.profile {
 background-color: rgb(192, 224, 205);
 padding: 20px 20px;
}
.profile-title {
 font-size: 3em;
 text-align: center;
 font-family: plakato-pro, sans-serif;
 font-style: normal;
 font-weight: 400;
}
.profile-text {
 font-size: 10px;
  padding: 0px 110px 20px 110px;
}


      .footer {
       background-color: gray;
      }
      
    }
